<table class='table'>
  <tbody>
      <% post.comments.each do |comment| %>
      <tr>
        <td><%= comment.member.name %></td>
        <td><%= comment.comment %></td>
        <td>
          <% if comment.member == current_member %>
            <%= link_to "Destroy", post_comment_path(post, comment), method: :delete, class: "btn btn-dark pull-right", remote: true %>
          <% end %>
        </td>
      </tr>
      <% end %>
  </tbody>
</table>