<table class='table'>
  <tbody>
    <% post.comments.each do |comment| %>
    <tr>
      <td><%= comment.member.name %></td>
      <td><%= comment.comment %></td>
      <td>
        <% if comment.member == current_member || current_admin.present? %>
          <%= link_to "削除", post_comment_path(post, comment), method: :delete, data: { confirm: '本当に削除しますか？' }, class: "btn btn-dark pull-right", remote: true %>
        <% end %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>