<div class="container py-5">
  <div class="row">
    <div class="col-11 mx-auto">
      <h3>サイトの使い方</h3>
      <div class="site-description">
        <p>
          このアプリケーションは、組織内での「ヒヤリハット」とその改善策を効果的に収集し、共有することで安全管理につなげるコミュニティサイトです。
        </p>
        <p>
          「ヒヤリハット」とは：思いがけない出来事に「ヒヤリ」としたり、事故寸前のミスに「ハッ」としたりすることをいいます。
        </p>
      </div>

      <!-- 主な利用シーン -->
      <div class="container mt-4">
        <h4 class="ml-3"><主な利用シーン></h4>
        <ul style="margin-left: -15px;">
          <li>組織内で起こったヒヤリハットを共有したいとき</li>
          <li>ヒヤリハットに対する改善案を検討し、改善につなげたいとき</li>
          <li>組織内の安全管理のための策を考えたいとき</li>
        </ul>
      </div>

      <!-- ターゲットユーザ -->
      <div class="container mt-4">
        <h4 class="ml-3"><ターゲットユーザー></h4>
        <ul style="margin-left: -15px;">
          <li>リスクマネジメントに力を入れたい人</li>
          <li>ヒヤリハットの改善案を求めている人</li>
        </ul>
      </div>

      <!-- サイトの特徴 -->
      <div class="container mt-4">
        <h4 class="mb-3 ml-3"><サイトの特徴></h4>
        <div class="row">
          <div class="col-md-4">
            <div class="feature-item bg-light p-3 mb-4">
              <h3>投稿機能</h3>
              <p>ヒヤリハットの報告やその改善案の投稿を行うことができます。</p>
            </div>
          </div>
          <div class="col-md-4">
            <div class="feature-item bg-light p-3 mb-4">
              <h3>コメント機能</h3>
              <p>ヒヤリハット報告の投稿には、組織内での組織内での意見交換のためにコメント機能がついています。</p>
            </div>
          </div>
          <div class="col-md-4">
            <div class="feature-item bg-light p-3 mb-4">
              <h3>既読機能</h3>
              <p>改善案の投稿には、確認漏れを防ぐための既読機能がついています。</p>
            </div>
          </div>
          <div class="col-md-4">
            <div class="feature-item bg-light p-3 mb-4">
              <h3>検索機能</h3>
              <p>会員は、タグ検索やキーワード検索により、必要な情報を手軽に見つけることができます。</p>
            </div>
          </div>
          <div class="col-md-4">
            <div class="feature-item bg-light p-3 mb-4">
              <h3>通知機能</h3>
              <p>投稿したヒヤリハットに、コメントが書かれたら通知が届きます。</p>
            </div>
          </div>
          <div class="col-md-4">
            <div class="feature-item bg-light p-3 mb-4">
              <h3>PDF化機能</h3>
              <p>ボタン1つで投稿情報に基づいたデータをPDFに変換することができます。</p>
            </div>
          </div>
        </div>
      </div>


    </div>
  </div>
</div>
