<div class="mx-auto">
  <h2 class="font-weight-bold">タグ一編集</h2>
  <div class="row mt-4">
    <div class="py-3">
      <%= form_with model: @tag, url: admin_tag_path,method: :patch do |f| %>
        <td><%= f.label :name,"タグ名", class: "mr-3" %></td>
        <td><%= f.text_field :name, placeholder: "タグ名",class: "mr-5", required: true %></td>
        <td><%= f.submit "変更を保存", class: "btn btn-dark" %></td>
      <% end %>
    </div>
  </div>
</div>