<% if vision.favorited_by?(current_member) %>
  <div class="btn btn-dark" style="border: 1px solid #000;">
    <%= link_to post_vision_favorites_path(post, vision), method: :delete, remote: true, data: {"turbolinks" => false} do %>
      <i class="fa-solid fa-circle-check" aria-hidden="true" style="color: white">
        <%= vision.favorites.count %> 未読に戻す
      </i>
    <% end %>
  </div>
  <% else %>
  <div class="btn btn-dark" style="border: 1px solid #000;">
    <%= link_to post_vision_favorites_path(post, vision), method: :post, remote: true, data: {"turbolinks" => false} do %>
      <i class="fa-regular fa-circle-check" aria-hidden="true" style="color: white">
        <%= vision.favorites.count %> 既読する
      </i>
    <% end %>
  </div>
<% end %>