@use '~bootstrap/scss/bootstrap';

// タブ切り替え
.tab {
  width: 100%;
  padding: 10px;
  cursor: pointer;
  color: #696969;
  border-left: solid 1px #CCC;
  border-bottom: solid 1px #CCC;
}
.tab:first-child {
  border-left: none;
}
// タブがactiveのときのデザイン
.tab-active {
  color: #FFF;
  background: #6ABACD;
  transition: all 0.3s ease-in-out;
}
// タブの中身、最初は非表示
.tabbox {
  display: none;
  padding: 15px;
}
// box-showクラスのものだけ表示
.box-show {
  display: block;
  animation-name: displayAnime;/*ふわっと表示させるためのアニメーション*/
  animation-duration: 0.6s;
  animation-fill-mode: forwards;
}

.pagination {
  justify-content: center;
}
