@use '~bootstrap/scss/bootstrap';

// タブ切り替え
.tab {
  width: 100%;
  padding: 10px;
  cursor: pointer;
  border-left: solid 1px #CCC;
  border-bottom: solid 1px #CCC;
}

.tab:first-child {
  border-left: none;
}

// タブがactiveのときのデザイン
.tab-active {
  color: #FFF;
  background: #6ABACD;
  transition: all 0.3s ease-in-out;
}
// タブの中身、最初は非表示
.tabbox {
  display: none;
  padding: 15px;
}

// box-showクラスのものだけ表示
.box-show {
  display: block;
  animation-name: displayAnime;/*ふわっと表示させるためのアニメーション*/
  animation-duration: 0.6s;
  animation-fill-mode: forwards;
}

// ページネーション
.pagination {
  justify-content: center;
}

.page-link {
  color: #1184A4;
}

.page-item.active .page-link{
  background-color: #6ABACD;
  border-color: #6ABACD;
}

.top-border {
  border-top: 1px dotted #4d4d4d;
}

// テーブルの選択時の動き
tr[data-href]:hover {
  color: #FFF;
  background-color: #6ABACD; /* ホバー時の背景色を変更 */
  cursor: pointer; /* カーソルをポインターに変更（クリック可能な要素を示す） */
  transform: scale(1.05); /* ホバー時に要素を1.1倍に拡大 */
  transition: transform 0.3s; /* 拡大アニメーションの速度を設定（任意の値） */
}

// ヘッダーのボタンの動き
.button:hover{
  font-weight: bold; /* ホバー時に太字にする */
  transform: scale(1.1); /* ホバー時に要素を1.1倍に拡大 */
  transition: transform 0.3s; /* 拡大アニメーションの速度を設定（任意の値） */
}

.link-color {
  color: black;
}

// ヘッダーの文字の位置のため
ul{
  margin-bottom: 0;
}

