.notice-count-container {
  position: absolute;
  padding-left: 1rem;
  padding-top: 0rem;
  padding: 0rem;
}
.notice-count-box {
  color: #FFFFFF;
  background-color: #ff6347;
  border-radius: 50%;
  width: 25px;
  height: 25px;
}
.notice-count {
  font-size: 16px;
  text-align: center;
}