<% if obj.errors.any? %>
  <h2><%= obj.errors.count %>件のエラーにより保存できませんでした。</h2>
  <ul>
    <% obj.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>