<div class="row justify-content-center">
  <div class="errors">
    <% if obj.errors.any? %>
      <h5><i class="fa-solid fa-triangle-exclamation"></i><%= obj.errors.count %>件のエラー</h5>
      <ul>
        <% obj.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    <% end %>
  </div>
</div>