<footer class="fixed-bottom py-2" style="background-color: #6ABACD">
  <div class="container-fluid">
    <div class="row">
      <div class="col-4 offset-4 text-center">
        <a class="github" style="color: #3B240B" href="https://github.com/horunfujimoto/hiyari-color-vision" >
          <p>GitHub Link : HIYARI COLOR VISION</p>
        </a>
      </div>
      <div class="col-4 text-right">
        <p class="pagetop">
          <a href="#wrap">
            <i class="fa-regular fa-circle-up fa-beat-fade" style="font-size: 25px; color: #0B0B61"></i>
          </a>
        </p>
      </div>
    </div>
  </div>
</footer>