<footer class="mt-auto footer py-3" style="background-color: #F5A9A9">
  <div class="container-fluid">
    <div class="row">
      <div class="mx-auto">
        <p>2023 © HIYARI COLOR VISION</p>
      </div>
    </div>
  </div>
</footer>